<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
   <appSettings>
     <add key="SPHostUrl" value="https://businessos.sharepoint.com/sites/mktdemodev"></add>
     <add key="User" value="chinasdc@businessos.onmicrosoft.com" />
     <add key="Password" value="Pwcwelcome2" />
     
     <!-- List names-->
     <add key="InvoiceDetail" value="Invoice detail" />
     <add key="ActionHistory" value="ActionHistory" />
     <add key="PaymentPlan" value="PTPInvoice" />
     <add key="WorkflowComments" value="WorkflowComments" />
     <add key="Task" value="Task" />
     <add key="ActivityStream" value="ActivityStream" />
     
     <!-- List names-->

     <!--SendGrid URL-->
     <add key="ApiWebSite" value="https://sendgrid.com" />
     <add key="ApiUrlAddress" value="api/mail.send.json" />
     <add key="SendGridName" value="bosadmin" />
     <add key="SendGridPassword" value="Pwcwelcome1!" />
     <add key="EmailFrom" value="Support@businessOS.com"/>
     <add key="TemplateId" value="bde1fc8a-6c12-4201-a759-77160cdeff8a"/>
     <!--SendGrid URL-->
   </appSettings>
 <system.web>
    <compilation debug="true" targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true" />
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>