<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
   <appSettings>
     <add key="SPHostUrl" value="https://businessos.sharepoint.com/sites/mktdemodev"></add>
     <add key="User" value="chinasdc@businessos.onmicrosoft.com"/>
     <add key="Password" value="Pwcwelcome2"/>
     
     <!-- List names-->
     <add key="InvoiceDetail" value="Invoice detail"/>
     <add key="ActionHistory" value="ActionHistory"/>
     <add key="PaymentPlan" value="PTPInvoice"/>
     <add key="WorkflowComments" value="WorkflowComments"/>
     <add key="Task" value="Task"/>
     <add key="ActivityStream" value="ActivityStream"/>
     
     <!-- List names-->
     
   </appSettings>
 <system.web>
    <compilation debug="true" targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true" />
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
</configuration>